<%- include('layout/header') %>

<div class="main">
    <h1>Page not found</h1>
    <h3><%= error.status %></h3>
    <p><%= error.message %></p>
    <pre>
        <%= error.stack %>
    </pre>
</div>


<%- include('layout/footer') %>