<% if (typeof user !== 'undefined') { %> <%- include('layout/header') %>

<div class="main">
  <div class="container">
    <div class="chatRoom">
      <h2>Chat</h2>
      <div class="users">
        <div class="user" data-login="<%= user.login %>" id="<%= user.id %>">
          <h3>User: <%= user.login %></h3>
          <div class="chat">
            <div class="messages"></div>
            <form name="sendMsg" class="msg-report">
              <input type="text" name="msg" />
              <button
                data-recipient-id="<%= recipient %>"
                class="button button--right"
              >
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %> <% } %>
