<% if (user) { %> <%- include('layout/header') %>

<div class="main">
  <div class="container">
    <div class="chatRoom">
      <h2>Chat</h2>
      <div class="chats">
        <% if (chats && chats.length) { %> <% chats.forEach(function(chat) {
        %>
        <div class="user" data-friend-id="<%= recipient.id %>">
          <div class="avatar"></div>
          <div class="dialog" data-chat-id="<%= chat.id %>">
            <div class="username">
              <span><%= recipient.name %></span>
              <span><%= chat.lastMsg.createdAt %></span>
            </div>
            <div class="msg"><%= chat.lastMsg.msg %></div>
          </div>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %> <% } %>
